#header1{width:100%;height:90px;background-color:red;box-shadow:0px 2px 5px gray;}
.left-col{
	width:21%;float:left;margin-left:5%;

}
.imgfit{height: 550px;width:100%;}
.mid-col{
	width:21%;float:left;margin-left:2%;
}
.last-col{
width:21%;float:left;margin-left:2%;

}
.up-col{
width:21%;float:left;margin-left:2%;

}
.third{
margin-top:1%;
}

.sponsor{
background-color:#A6A7B7;
height:500px;

}
.head{
	font-size:27px;
	font-family:cursive;
	color:#515769;
	text-align:center;
}
.sec{
	font-size:16px;
	font-family:cursive;
	color:#515769;
	text-align:left;
}

@media screen and (max-width: 500px) {

 .slide{height:450;}
}

input[type=text], select, textarea {
width: 100%;
padding: 12px 20px;
border-radius:5px;
cursor:pointer;
resize:vertical;
margin-top:6px;
margin-bottom:10px;
}
input[type=submit]{
	background-color:#ABAAAF;
	color:white;
	border-radius:5px;
	border: none;
	cursor:pointer;
	padding: 12px 20px;
}


@media screen and (max-width: 1368px) {

.left-col{
	width:42%;float:left;margin-left:8%;
}
.mid-col{
	width:42%;float:left;margin-left:2%;
}
.last-col{
width:42%;float:left;margin-left:2%;
margin-top: 1%;
}
.up-col{
width:42%;float:left;margin-left:8%;
margin-top: 1%;
}
.third{
margin-top:1%;

}
.combine{
width:140px;
margin-right: 25px;	
text-align: center;
float: right;

}
.combine1{
display: none;	
}
}

@media screen and (max-width:  1000px){
	.combine2{
	display: none;
}
}

@media screen and (max-width:  850px){
	.combine3{
	display: none;
	.imgfit{height:500px;}
}
}

@media screen and (max-width:  650px){
	.combine4{
	display: none;
}
}
@media screen and (max-width:  450px){
	.foot{
	font-size: 14px;
	margin-top: -1%;
}
}
@media screen and (max-width:  500px){
	.foot{
	font-size: 14px;
	margin-top: -2%;
	.imgfit{height:400px;}
}




@media screen and (max-width: 628px) {

.left-col{
	width:82%;float:left;margin-left:8%;

}
.imgfit{height:450px;}
.mid-col{
	width:82%;float:left;margin-left:8%;
}
.last-col{
width:82%;float:left;margin-left:8%;

}
.up-col{
width:82%;float:left;margin-left:8%;

}
.third{
margin-top:1%;
}
.combine{
width:140px;
	
}