
<link rel="stylesheet" type = "text/css" href="style.css">
<header>
    <div id="logo" class="menuUp">
        <h1>Adam Bray.</h1>
        <div id="navToggle"><a href="#">Menu</a></div>
    </div>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <a href="#">Blog <span class="toggle">Expand</span><span class="caret"></span></a>
                <nav>
                    <ul>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">Humour</a></li>
                        <li><a href="#">Gaming</a></li>
                        <li><a href="#">Music</a></li>
                    </ul>
                </nav>
            </li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </nav>
</header>