*{margin: 0px; padding: 0px;}
body{background-color: white;color:#ABAAAF}

#header{width:100%;height:90px;background-color:#ABAAAF;box-shadow:0px 2px 5px gray;position: ;}
#navbar{width:700px;height:60px;float:right;}
#navbar>li{width:100px;list-style:none;float:left;border-right:px solid gray;border-left:px solid gray}
li>a{display:block;color:white;line-height:90px;text-align:center;font-family:cursive;font-size:16px;text-decoration:none;}
li>a:hover,
li>a:focus{background:#21ABC0;color:#333;}
#logo{width:64px;height:auto;max-width:100%;max-height:100%;vertical-align:middle;float:left;padding-left:40px;margin-top:8px;}
#slider{margin-top:;height:;background-color:;background-image: img.jpg;}
#third{width:100%;background-color:red;}
@media screen and (max-width: 1262px){
#header{width:100%;height:90px;background-color:;box-shadow:0px 2px 5px gray;}
#navbar{width:700px;height:60px;float:right;}
#navbar>li{width:100px;list-style:none;float:left;}
li>a{display:block;color:white;line-height:90px;text-align:center;font-family:cursive;font-size:16px;text-decoration:none;}

#logo{width:64px;height:auto;float:center;padding-left:40px;}


}
@media screen and (max-width: 1042px){
#header{width:100%;height:90px;background-color:;box-shadow:0px 2px 5px gray;position:relative;top:60px}
#navbar{width:100%;height:90px;border:1px solid white;float:right;}
#navbar>li{width:18%;list-style:none;float:left;}
li>a{display:block;color:white;line-height:90px;text-align:center;font-family:cursive;font-size:16px;text-decoration:none;}
li>a:hover,
li>a:focus{background:skyblue;color:#333;}
#logo{width:60px;height:45px;float:center;position:absolute;top:-36px;text-align:center;float: ;margin-left: 30%;}

}
@media screen and (max-width: 500px) {
#header{width:100%;height:60px;background-color:#333;box-shadow:0px 2px 5px gray;}
#navbar{width:100%;height:10px;border:1px solid white;float:none;}
#navbar>li{width:100%;list-style:none;float:none;border-bottom:1px solid skyblue}
li>a{display:block;color:white;line-height:50px;text-align:center;font-family:cursive;font-size:16px;text-decoration:none;background:#333;}
 #logo{width:60px;height:45px;float:left;position:absolute;top:-36px;margin-left:10%;}
}

