*{margin: 0px;padding: 0px;}
body{background: skyblue;}
#header{width: 100%;height: 80px;background: #333;box-shadow: 0px 2px 4px gray;}
#navbar{width: 1000px;height: 80px;float: right;}
#navbar>li{width: 190px;list-style:none;float: left;border-right: 1px solid gray;border-left: 1px solid gray;}
li>a{display: block;color: white;line-height: 80px;
text-align: center;font-family: cursive;font-size: 20px;text-decoration: none;}
li>a:hover,
li>a:focus{background: skyblue;color: #333;}
#logo{width: 80px;height: 60px;float: left;padding-left: 40px;margin-top: 5px;}
@media screen and (max-width: 1220px){
#header{width: 100%;height: 80px;background: #white;box-shadow: 0px 2px 4px gray;}
#navbar{width: 800px;height: 80px;float: right;}

}